body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
#root>div{
  width: 100%;
  height: 100%;
  position: absolute;
}
.Navigation{
  background: #525261;
  box-shadow:0 1px 6px 0 #2d2d35;
  width: 100%;
  height: 100px;
  position: fixed;
}
.Navigation div{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.Navigation div a,.Navigation div button{
  background: #525261;
  color: #ffffff;
  box-shadow:0 1px 6px 0 #2d2d35;
  padding: 15px 30px;
  border-radius: 25px;
  margin-top: 25px;

}
.Navigation div a:hover,.Navigation div button:hover{
  background: #2d2d35;
}
.content{
  background: #b3cdda;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 100px;
}
.content>div{
  width: 20%;
  margin: auto;
  text-align: center;
}
.content form{
  display: flex;
  flex-direction: column;
}
input{
  padding: 10px 20px;
  border-radius: 3px;
  border: none;
  margin: 5px;
  outline-width: thin;
}
button{
  padding: 10px 20px;
  border-radius: 3px;
  border: none;
  margin: 5px;
  background: #b7bdc2;
  cursor: pointer;
}
button:hover{
  background: antiquewhite;
}